.button {
  width: 270px;
  height: 70px;
  border-radius: 35px;
  background: var(--button-primary-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:active {
    outline: none;
    border: none;
  }
  &:hover {
    background: var(--button-hover-color);
    transition: all 1.5s ease-in-out;
  }
}

.title {
  color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.small {
  font-size: 1.25rem !important;
  height: 50px;
}
