.services {
  background: url(../../../public//icons/services-background.png),
    lightgray 100% / cover no-repeat;
  min-height: 680px;
  max-height: max-content;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 98px;
  justify-content: center;
  margin-top: 62px;
  margin-bottom: 110px;
}
