.links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  max-width: 800px;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
}
.links__wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .links {
    width: 100%;
  }
}
@media only screen and (max-width: 668px) {
  .links {
    flex-direction: column;
  }
  .main__wrapper {
    margin-bottom: 40px;
  }
}
