.products {
  min-height: 1380px;
  height: max-content;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 70px;
  h2 {
    margin-bottom: 62px;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-bottom: 81px;
}
.link {
  margin-bottom: 69px;
}
